build/debug_scope.d
build/debug_scope.lst
build/debug_scope.o
build/feed_forward_ctrl.d
build/feed_forward_ctrl.lst
build/feed_forward_ctrl.o
build/STM32_MCSDK.bin
build/STM32_MCSDK.elf
build/STM32_MCSDK.hex
build/STM32_MCSDK.map
build/aspep.lst
build/bus_voltage_sensor.lst
build/circle_limitation.lst
build/digital_output.lst
build/main.d
build/main.lst
build/main.o
build/mc_api.d
build/mc_api.lst
build/mc_api.o
build/mc_config.d
build/mc_config.lst
build/mc_config.o
build/mc_configuration_registers.lst
build/mc_interface.d
build/mc_interface.lst
build/mc_interface.o
build/mc_math.lst
build/mc_parameters.lst
build/mc_parameters.o
build/mc_perf.lst
build/mc_tasks.d
build/mc_tasks.lst
build/mc_tasks.o
build/mcp_config.lst
build/mcp_config.o
build/mcp.d
build/mcp.lst
build/mcp.o
build/mcpa.lst
build/mcpa.o
build/motorcontrol.lst
build/motorcontrol.o
build/ntc_temperature_sensor.lst
build/open_loop.lst
build/pid_regulator.lst
build/pqd_motor_power_measurement.lst
build/pwm_common.lst
build/pwm_curr_fdbk.lst
build/r_divider_bus_voltage_sensor.lst
build/r3_2_g4xx_pwm_curr_fdbk.lst
build/ramp_ext_mngr.lst
build/register_interface.d
build/register_interface.lst
build/register_interface.o
build/regular_conversion_manager.lst
build/regular_conversion_manager.o
build/revup_ctrl.lst
build/speed_pos_fdbk.lst
build/speed_torq_ctrl.d
build/speed_torq_ctrl.lst
build/speed_torq_ctrl.o
build/STM32_MCSDK_Project.bin
build/STM32_MCSDK_Project.elf
build/STM32_MCSDK_Project.hex
build/STM32_MCSDK_Project.map
build/stm32g4xx_hal_cortex.lst
build/stm32g4xx_hal_dma_ex.lst
build/stm32g4xx_hal_dma.lst
build/stm32g4xx_hal_exti.lst
build/stm32g4xx_hal_flash_ex.lst
build/stm32g4xx_hal_flash_ramfunc.lst
build/stm32g4xx_hal_flash.lst
build/stm32g4xx_hal_gpio.lst
build/stm32g4xx_hal_msp.lst
build/stm32g4xx_hal_msp.o
build/stm32g4xx_hal_pwr_ex.lst
build/stm32g4xx_hal_pwr.lst
build/stm32g4xx_hal_rcc_ex.lst
build/stm32g4xx_hal_rcc.lst
build/stm32g4xx_hal_tim_ex.lst
build/stm32g4xx_hal_tim.lst
build/stm32g4xx_hal.lst
build/stm32g4xx_it.lst
build/stm32g4xx_it.o
build/stm32g4xx_ll_adc.lst
build/stm32g4xx_ll_cordic.lst
build/stm32g4xx_ll_dma.lst
build/stm32g4xx_ll_exti.lst
build/stm32g4xx_ll_gpio.lst
build/stm32g4xx_ll_opamp.lst
build/stm32g4xx_ll_rcc.lst
build/stm32g4xx_ll_tim.lst
build/stm32g4xx_ll_usart.lst
build/stm32g4xx_ll_utils.lst
build/stm32g4xx_mc_it.lst
build/stm32g4xx_mc_it.o
build/sto_cordic_speed_pos_fdbk.lst
build/sto_pll_speed_pos_fdbk.lst
build/system_stm32g4xx.lst
build/usart_aspep_driver.lst
build/virtual_speed_sensor.lst
build/aspep.lst
build/bus_voltage_sensor.lst
build/circle_limitation.lst
build/digital_output.lst
build/main.d
build/main.lst
build/main.o
build/mc_api.d
build/mc_api.lst
build/mc_api.o
build/mc_config.d
build/mc_config.lst
build/mc_config.o
build/mc_configuration_registers.lst
build/mc_interface.d
build/mc_interface.lst
build/mc_interface.o
build/mc_math.lst
build/mc_parameters.lst
build/mc_parameters.o
build/mc_perf.lst
build/mc_tasks.d
build/mc_tasks.lst
build/mc_tasks.o
build/mcp_config.lst
build/mcp_config.o
build/mcp.d
build/mcp.lst
build/mcp.o
build/mcpa.lst
build/mcpa.o
build/motorcontrol.lst
build/motorcontrol.o
build/ntc_temperature_sensor.lst
build/open_loop.lst
build/pid_regulator.lst
build/pqd_motor_power_measurement.lst
build/pwm_common.lst
build/pwm_curr_fdbk.lst
build/r_divider_bus_voltage_sensor.lst
build/r3_2_g4xx_pwm_curr_fdbk.lst
build/ramp_ext_mngr.lst
build/register_interface.d
build/register_interface.lst
build/register_interface.o
build/regular_conversion_manager.lst
build/regular_conversion_manager.o
build/revup_ctrl.lst
build/speed_pos_fdbk.lst
build/speed_torq_ctrl.d
build/speed_torq_ctrl.lst
build/speed_torq_ctrl.o
build/STM32_MCSDK_Project.bin
build/STM32_MCSDK_Project.elf
build/STM32_MCSDK_Project.hex
build/STM32_MCSDK_Project.map
build/stm32g4xx_hal_cortex.lst
build/stm32g4xx_hal_dma_ex.lst
build/stm32g4xx_hal_dma.lst
build/stm32g4xx_hal_exti.lst
build/stm32g4xx_hal_flash_ex.lst
build/stm32g4xx_hal_flash_ramfunc.lst
build/stm32g4xx_hal_flash.lst
build/stm32g4xx_hal_gpio.lst
build/stm32g4xx_hal_msp.lst
build/stm32g4xx_hal_msp.o
build/stm32g4xx_hal_pwr_ex.lst
build/stm32g4xx_hal_pwr.lst
build/stm32g4xx_hal_rcc_ex.lst
build/stm32g4xx_hal_rcc.lst
build/stm32g4xx_hal_tim_ex.lst
build/stm32g4xx_hal_tim.lst
build/stm32g4xx_hal.lst
build/stm32g4xx_it.lst
build/stm32g4xx_it.o
build/stm32g4xx_ll_adc.lst
build/stm32g4xx_ll_cordic.lst
build/stm32g4xx_ll_dma.lst
build/stm32g4xx_ll_exti.lst
build/stm32g4xx_ll_gpio.lst
build/stm32g4xx_ll_opamp.lst
build/stm32g4xx_ll_rcc.lst
build/stm32g4xx_ll_tim.lst
build/stm32g4xx_ll_usart.lst
build/stm32g4xx_ll_utils.lst
build/stm32g4xx_mc_it.lst
build/stm32g4xx_mc_it.o
build/sto_cordic_speed_pos_fdbk.lst
build/sto_pll_speed_pos_fdbk.lst
build/system_stm32g4xx.lst
build/usart_aspep_driver.lst
build/virtual_speed_sensor.lst
build/aspep.lst
build/bus_voltage_sensor.lst
build/circle_limitation.lst
build/digital_output.lst
build/main.d
build/main.lst
build/main.o
build/mc_api.d
build/mc_api.lst
build/mc_api.o
build/mc_config.d
build/mc_config.lst
build/mc_config.o
build/mc_configuration_registers.lst
build/mc_interface.d
build/mc_interface.lst
build/mc_interface.o
build/mc_math.lst
build/mc_parameters.lst
build/mc_parameters.o
build/mc_perf.lst
build/mc_tasks.d
build/mc_tasks.lst
build/mc_tasks.o
build/mcp_config.lst
build/mcp_config.o
build/mcp.d
build/mcp.lst
build/mcp.o
build/mcpa.lst
build/mcpa.o
build/motorcontrol.lst
build/motorcontrol.o
build/ntc_temperature_sensor.lst
build/open_loop.lst
build/pid_regulator.lst
build/pqd_motor_power_measurement.lst
build/pwm_common.lst
build/pwm_curr_fdbk.lst
build/r_divider_bus_voltage_sensor.lst
build/r3_2_g4xx_pwm_curr_fdbk.lst
build/ramp_ext_mngr.lst
build/register_interface.d
build/register_interface.lst
build/register_interface.o
build/regular_conversion_manager.lst
build/regular_conversion_manager.o
build/revup_ctrl.lst
build/speed_pos_fdbk.lst
build/speed_torq_ctrl.d
build/speed_torq_ctrl.lst
build/speed_torq_ctrl.o
build/STM32_MCSDK_Project.bin
build/STM32_MCSDK_Project.elf
build/STM32_MCSDK_Project.hex
build/STM32_MCSDK_Project.map
build/stm32g4xx_hal_cortex.lst
build/stm32g4xx_hal_dma_ex.lst
build/stm32g4xx_hal_dma.lst
build/stm32g4xx_hal_exti.lst
build/stm32g4xx_hal_flash_ex.lst
build/stm32g4xx_hal_flash_ramfunc.lst
build/stm32g4xx_hal_flash.lst
build/stm32g4xx_hal_gpio.lst
build/stm32g4xx_hal_msp.lst
build/stm32g4xx_hal_msp.o
build/stm32g4xx_hal_pwr_ex.lst
build/stm32g4xx_hal_pwr.lst
build/stm32g4xx_hal_rcc_ex.lst
build/stm32g4xx_hal_rcc.lst
build/stm32g4xx_hal_tim_ex.lst
build/stm32g4xx_hal_tim.lst
build/stm32g4xx_hal.lst
build/stm32g4xx_it.lst
build/stm32g4xx_it.o
build/stm32g4xx_ll_adc.lst
build/stm32g4xx_ll_cordic.lst
build/stm32g4xx_ll_dma.lst
build/stm32g4xx_ll_exti.lst
build/stm32g4xx_ll_gpio.lst
build/stm32g4xx_ll_opamp.lst
build/stm32g4xx_ll_rcc.lst
build/stm32g4xx_ll_tim.lst
build/stm32g4xx_ll_usart.lst
build/stm32g4xx_ll_utils.lst
build/stm32g4xx_mc_it.lst
build/stm32g4xx_mc_it.o
build/sto_cordic_speed_pos_fdbk.lst
build/sto_pll_speed_pos_fdbk.lst
build/system_stm32g4xx.lst
build/usart_aspep_driver.lst
build/virtual_speed_sensor.lst
build/aspep.lst
build/bus_voltage_sensor.lst
build/circle_limitation.lst
build/digital_output.lst
build/main.d
build/main.lst
build/main.o
build/mc_api.d
build/mc_api.lst
build/mc_api.o
build/mc_config.d
build/mc_config.lst
build/mc_config.o
build/mc_configuration_registers.lst
build/mc_interface.d
build/mc_interface.lst
build/mc_interface.o
build/mc_math.lst
build/mc_parameters.lst
build/mc_parameters.o
build/mc_perf.lst
build/mc_tasks.d
build/mc_tasks.lst
build/mc_tasks.o
build/mcp_config.lst
build/mcp_config.o
build/mcp.d
build/mcp.lst
build/mcp.o
build/mcpa.lst
build/mcpa.o
build/motorcontrol.lst
build/motorcontrol.o
build/ntc_temperature_sensor.lst
build/open_loop.lst
build/pid_regulator.lst
build/pqd_motor_power_measurement.lst
build/pwm_common.lst
build/pwm_curr_fdbk.lst
build/r_divider_bus_voltage_sensor.lst
build/r3_2_g4xx_pwm_curr_fdbk.lst
build/ramp_ext_mngr.lst
build/register_interface.d
build/register_interface.lst
build/register_interface.o
build/regular_conversion_manager.lst
build/regular_conversion_manager.o
build/revup_ctrl.lst
build/speed_pos_fdbk.lst
build/speed_torq_ctrl.d
build/speed_torq_ctrl.lst
build/speed_torq_ctrl.o
build/STM32_MCSDK_Project.bin
build/STM32_MCSDK_Project.elf
build/STM32_MCSDK_Project.hex
build/STM32_MCSDK_Project.map
build/stm32g4xx_hal_cortex.lst
build/stm32g4xx_hal_dma_ex.lst
build/stm32g4xx_hal_dma.lst
build/stm32g4xx_hal_exti.lst
build/stm32g4xx_hal_flash_ex.lst
build/stm32g4xx_hal_flash_ramfunc.lst
build/stm32g4xx_hal_flash.lst
build/stm32g4xx_hal_gpio.lst
build/stm32g4xx_hal_msp.lst
build/stm32g4xx_hal_msp.o
build/stm32g4xx_hal_pwr_ex.lst
build/stm32g4xx_hal_pwr.lst
build/stm32g4xx_hal_rcc_ex.lst
build/stm32g4xx_hal_rcc.lst
build/stm32g4xx_hal_tim_ex.lst
build/stm32g4xx_hal_tim.lst
build/stm32g4xx_hal.lst
build/stm32g4xx_it.lst
build/stm32g4xx_it.o
build/stm32g4xx_ll_adc.lst
build/stm32g4xx_ll_cordic.lst
build/stm32g4xx_ll_dma.lst
build/stm32g4xx_ll_exti.lst
build/stm32g4xx_ll_gpio.lst
build/stm32g4xx_ll_opamp.lst
build/stm32g4xx_ll_rcc.lst
build/stm32g4xx_ll_tim.lst
build/stm32g4xx_ll_usart.lst
build/stm32g4xx_ll_utils.lst
build/stm32g4xx_mc_it.lst
build/stm32g4xx_mc_it.o
build/sto_cordic_speed_pos_fdbk.lst
build/sto_pll_speed_pos_fdbk.lst
build/system_stm32g4xx.lst
build/usart_aspep_driver.lst
build/virtual_speed_sensor.lst
