build/
build/*
debug_scope.d
build/debug_scope.lst
build/debug_scope.o
build/feed_forward_ctrl.d
build/feed_forward_ctrl.lst
build/feed_forward_ctrl.o
build/STM32_MCSDK.bin
build/STM32_MCSDK.elf
build/STM32_MCSDK.hex
build/STM32_MCSDK.map
*.zip
*.ftl
*.o
*.d
*.lst
build/Makefile
build/STM32_MCSDK_Project.map
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/3.22.1/CMakeASMCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/STM32_MCSDK_Project.dir/ASM.includecache
build/CMakeFiles/STM32_MCSDK_Project.dir/build.make
build/CMakeFiles/STM32_MCSDK_Project.dir/cmake_clean.cmake
build/CMakeFiles/STM32_MCSDK_Project.dir/compiler_depend.internal
build/CMakeFiles/STM32_MCSDK_Project.dir/compiler_depend.make
build/CMakeFiles/STM32_MCSDK_Project.dir/compiler_depend.ts
build/CMakeFiles/STM32_MCSDK_Project.dir/depend.internal
build/CMakeFiles/STM32_MCSDK_Project.dir/depend.make
build/CMakeFiles/STM32_MCSDK_Project.dir/DependInfo.cmake
build/CMakeFiles/STM32_MCSDK_Project.dir/flags.make
build/CMakeFiles/STM32_MCSDK_Project.dir/link.txt
build/CMakeFiles/STM32_MCSDK_Project.dir/progress.make
build/CMakeFiles/STM32_MCSDK_Project.dir/startup_stm32g431xx.s.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_cortex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma_ex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_dma.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_exti.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash_ramfunc.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_flash.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_gpio.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr_ex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_pwr.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc_ex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_rcc.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim_ex.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal_tim.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_hal.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_adc.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_comp.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_cordic.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dac.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_dma.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_exti.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_gpio.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_opamp.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_rcc.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_tim.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_usart.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Drivers/STM32G4xx_HAL_Driver/Src/stm32g4xx_ll_utils.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/bus_voltage_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/circle_limitation.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/digital_output.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/enc_align_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/encoder_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/feed_forward_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/mcp.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/mcpa.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/ntc_temperature_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/open_loop.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pid_regulator.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pqd_motor_power_measurement.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pwm_common.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/r_divider_bus_voltage_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/ramp_ext_mngr.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/revup_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/speed_torq_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/sto_cordic_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/sto_pll_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/virtual_speed_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/G4xx/Src/r3_2_g4xx_pwm_curr_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/list.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/tasks.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS/cmsis_os.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/port.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_4.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/app_freertos.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/aspep.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/debug_scope.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/main.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_api.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_app_hooks.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_config.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_configuration_registers.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_interface.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_math.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_parameters.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_perf.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mc_tasks.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/mcp_config.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/motorcontrol.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/pwm_curr_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/register_interface.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/regular_conversion_manager.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/stm32g4xx_hal_msp.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/stm32g4xx_hal_timebase_tim.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/stm32g4xx_it.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/stm32g4xx_mc_it.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/system_stm32g4xx.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/usart_aspep_driver.c.obj
build/STM32_MCSDK_Project.map
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/speed_torq_ctrl.c.obj
build/STM32_MCSDK_Project.map
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/bus_voltage_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/circle_limitation.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/digital_output.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/enc_align_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/encoder_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/feed_forward_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/mcp.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/mcpa.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/ntc_temperature_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/open_loop.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pid_regulator.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pqd_motor_power_measurement.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/pwm_common.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/r_divider_bus_voltage_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/ramp_ext_mngr.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/revup_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/speed_torq_ctrl.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/sto_cordic_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/sto_pll_speed_pos_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/Any/Src/virtual_speed_sensor.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/MCSDK_v6.1.2-Full/MotorControl/MCSDK/MCLib/G4xx/Src/r3_2_g4xx_pwm_curr_fdbk.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/tasks.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS/cmsis_os.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/app_freertos.c.obj
build/CMakeFiles/STM32_MCSDK_Project.dir/Src/stm32g4xx_hal_timebase_tim.c.obj
